
body {
    width: 960px;
    background-color:grey;
    margin: auto;

}
.backsplash {
    background-image: url("../images/gravel.png");
    position: relative;
    width: 960px;
    height: 100%;
    z-index: 1;
}

hr {
    margin-left: 0;
    width: 590px;
}
   
.main {
    background-color: #fff;
    position: absolute;
    top: 70px;
    padding-left: 30px;
    z-index: 3;
    width: 65%;
    height: 60%;
    margin-top: 75px;
    margin-left: 150px;
    border: 3px solid#dddddd;
    box-shadow: 10px 10px 10px grey;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;

}

.main #profpic {
    float: left;
    width: 150px;
    border: 2px solid teal; /*2. The picture border is not right displayed - solved!*/
    margin-right: 20px;
    
}

.main p {
    line-height: 2.0;
    padding-right: 15px;
    
}

p.clear {
    clear: both;
    line-height: 2.0;
}

.zag {
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    width: 960px;
    border: 10px;
    border-color: blue; /*3. Can not see border even thow the zag block is on a top of backsplash one*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

header {
    background-color: #4aaaa5;
    float: left;
    padding: 10px;
    font: #777777;
    margin-left: 150px;
    
    
}
nav {
    float: right;
    padding-right: 20px;
    padding-top: 50px;
    font-size: 20px;

}
a:hover {
    background-color: yellow;
    padding: left 10px;
    padding-right:10px;
    
}
#aboutbotton {
    margin-right: 20px;
    
}

#portfoliobotton {
    margin-right: 20px;
}

#contactbotton {
    margin-right: 160px;
}

footer { 
    background-color:#666666;
    width: 960px;
    height: 70px;
    bottom: 0px;/*4. At the task i was given only the width of the block - 960px; can we tell what is the height has to be from the very top to the bottom?, so i can properly write the top position for the footer*/
    position: fixed;
    z-index: 4; /*5. Do we need to provide the z-index for all blocks inside the backsplash block?*/
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 8px;
    
}
.rectangle {
    height: 5px;
    width: 960px;
    background-color:teal;
  }

label {
    display: block;
    padding: 5px;
    margin-top: 8px;
    font-size: 12px;

}

input {
    width: 90%;

}

.main #submit {
    width: 35%;
    text-align: center;
}

#submit:hover {
    background-color: yellow;
}

textarea {
    width: 90%;
    margin-bottom: 15px;
}

#submit {
    height: 35px;
}

.pictures p {
    background-color: rgb(125, 218, 218);
    width: 130px;
    font-size: 11px;
    padding-left: 5px;
    position: absolute;

}

.pic {
    position: relative;
    width:100%;
    padding: 10px;

}

.pic p {
    position: absolute;
    top: 130px;
    width: 120px;
    text-align: center;
    font-size: 12;
    line-height: 1.3;
}

.pic .img {
    
    width: 140px;
}